<section class="login">
  <p class="login__title">Войдите в систему</p>
  <form class="login__form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field style="width: 100%">
      <mat-label>Введите email</mat-label>
      <input
        type="email"
        matInput
        placeholder="example@email.com"
        formControlName="email"
        required
      />
      @if (form.invalid) {
      <mat-error>Введите email в формате example&#64;email.com</mat-error>
      }
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Введите пароль</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="isPasswordHidden() ? 'password' : 'text'"
        required
      />
      <button
        mat-icon-button
        matSuffix
        (click)="isPasswordHidden.set(!isPasswordHidden())"
      >
        <mat-icon>{{
          isPasswordHidden() ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      @if (form.invalid) {
      <mat-error>Поле обязательное</mat-error>
      }
    </mat-form-field>
    <button
      mat-flat-button
      type="submit"
      [disabled]="form.invalid"
      style="width: 100%; font-size: large"
    >
      Войти
    </button>
  </form>
</section>
