<section class="devices">
  @if (!isDataReceived() && !isError()) {
  <mat-spinner></mat-spinner>
  } @if (isDataReceived()) {
  <table mat-table [dataSource]="devicesList" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let device">{{ device.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Название</th>
      <td mat-cell *matCellDef="let device">{{ device.name }}</td>
    </ng-container>

    <ng-container matColumnDef="last_active">
      <th mat-header-cell *matHeaderCellDef>Дата последней активности</th>
      <td mat-cell *matCellDef="let device">
        {{ device.last_active | date : "dd.MM.YYYY hh:mm" }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  } @if (isError()){
  <p
    style="
      font-size: 12px;
      text-align: center;
      margin-top: 10px;
      color: var(--second-accent-color);
      width: max-content;
    "
  >
    {{ errorMessage }}
  </p>
  } @if (isDataReceived() || isError()) {
  <mat-icon
    aria-hidden="false"
    aria-label="Выйти"
    fontIcon="logout"
    (click)="logout()"
    style="
      position: absolute;
      top: 0;
      right: -60px;
      color: var(--second-accent-color);
      cursor: pointer;
    "
  >
  </mat-icon>
  }
</section>
